extends layout

block content
    h1 Cinema Theater seat list
    h2 Number of seats: #{seats.length}
    if seats.length
      ul
        each seat, index in seats 
          - var status = ""
          if seat.available 
            - status = "Available"
          else
            - status = "Not available"
          p #{index + 1}. <b>Number</b>: #{seat.number}. <b>Row</b>: #{seat.row}. <b>Seat Id</b>: #{seat._id}. <b>#{status}</b>
          
    else
      p There are no seats yet :(
        
    script.
      console.log(!JSON.stringify(seats))