extends layout

block content
  if seat 
    - var availability = ''
    if seat.customerId
      - availability = `Seat not available. Booked by customer with Id: ${seat.customerId}`
    else
      - availability = 'Available'

    h1 Seat: N#{seat.number}R#{seat.row}
    p Seat details:
    ul
      p <b>Row</b>: #{seat.row}
      p <b>Number</b>: #{seat.number}
      p <b>Movie</b>: #{seat.movieTitle}
      p <b>Price</b>: #{seat.price}
      p <b>Status</b>: #{availability}
      p <b>Seat Id</b>: #{seat._id}

  else 
   h1 We couldn't find this seat!
  script.
    console.log(!JSON.stringify(seat))